.active {
  border-bottom: 1px solid rgb(252, 81, 178);
}

.navigation {
  width: 100vw;
  height: 5rem;
  background-color: pink;
  display: flex;
  justify-content: space-between;

  &-logo {
    width: auto;
    height: 80%;
    border-radius: 30%;
    padding: 0.5rem 0;
    margin-left: 5rem;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
    list-style: none;

    &-element {
      padding-left: 2rem;

      & a {
        display: inline-block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: 1.5rem;
        color: white;
        transition: 0.3s linear;

        &:hover {
          color: gray;
        }
      }
    }
  }
}
