.active {
  border-bottom: 1px solid #d63384;
}

.navigation {
  width: 100vw;
  height: 80px;
  background-color: pink;
  display: flex;
  justify-content: space-between;

  &-logo {
    width: auto;
    height: 80%;
    border-radius: 30%;
    padding: 8px 0;
    margin-left: 80px;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    list-style: none;

    &-element {
      padding-left: 30px;

      & a {
        display: inline-block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: 26px;
        color: white;
        transition: 0.3s linear;

        &:hover {
          color: gray;
        }
      }
    }
  }
}
