.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 160px);
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 80px;

  .contact {
    flex-basis: 30%;
    &-title {
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
    &-link {
      display: inline-block;
      text-decoration: none;
      color: black;
      font-size: 24px;
      padding: 20px 0;
      transition: 0.5s;

      &:hover {
        color: pink;
        padding-left: 20px;
      }
      & i {
        margin-right: 20px;
      }
    }
  }
  .formContact {
    flex-basis: 60%;
  }
}
