.wrapper {
  min-height: 70vh;
  width: calc(100% - 11rem);

  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .home {
    flex-basis: 30%;
    min-height: 100%;
  }

  .home__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-img {
      width: 80%;
      height: auto;
    }

    &-text {
      font-size: 1.2rem;
      padding: 1.5rem;
      text-indent: 1rem;
      line-height: 1.7rem;
      text-align: justify;
    }
  }

  .home__photo {
    background-image: url(../../images/flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home__graph {
    background-image: url(../../images/wolf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
