.wrapper {
  min-height: 70vh;
  width: calc(100% - 11rem);

  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .home {
    flex-basis: 30%;
    min-height: 100%;

    &--link {
      display: block;
      text-align: center;
      padding-top: 50%;
      text-decoration: none;
      color: white;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: bold;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.5s;
      background-color: rgba(255, 192, 203, 0.5);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .home__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-img {
      width: 80%;
      height: auto;
    }

    &-text {
      font-size: 1.2rem;
      padding: 1.5rem;
      text-indent: 1rem;
      line-height: 1.7rem;
      text-align: justify;
    }
  }

  .home__photo {
    background-image: url(../../images/flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home__graph {
    background-image: url(../../images/wolf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
